/***
 *    ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┳┓┏┓┳┓┓┏┓  ┏┓┏┓┏┓
 *    ┃┃┃┣┫┗┫┣┫┣┫┣┫━━┃┃┣┫┣┫┃┫ ━━┃ ┗┓┗┓
 *    ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┻┛┛┗┛┗┛┗┛  ┗┛┗┛┗┛
 */

/*----------Import Matugen Colors--------*/
/*@import "../../matugen/matugen-waybar.css";*/
@import "mocha.css";

/*----------Global Defaults--------------*/
* {
    font-family: Jetbrains Mono Nerd Font;
    font-weight: bold;
    font-size: 18px;
}

/*----------Waybar Window (Floating)-----*/
window#waybar {
    background-color: transparent;
    color: @base;

    margin: 16px 18px; /* Floating gap */
    padding: 4px; /* Inner gap */
    border-radius: 14px; /* Rounded bar */

    border: 1px solid transparent;
}

window#waybar.hidden {
    opacity: 0.1;
}

#window {
    color: @base;
}

/*----------Main Modules-----------------*/
#clock,
#cpu,
#memory,
#tray,
#workspaces,
#battery,
#custom-launcher {
    color: @mauve;
    background-color: @base;

    padding: 0px 14px;
    margin: 2px 3px;

    border-radius: 10px;
}

/*----------Special Colors---------------*/
#cpu {
    color: @mauve;
    padding: 0px 7px;
}

#memory {
    color: @mauve;
    padding: 0px 7px;
}

#battery {
    color: @mauve;
    padding: 0px 7px;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
    color: @mauve;
    padding: 0px 7px;
}

/*----------Workspaces-------------------*/
#workspaces {
    background-color: @base;
    padding: 0 4px;
}

#workspaces button {
    color: @surface1;
    padding: 0 6px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @mauve;
    background-color: alpha(@base, 0.15);
}

#workspaces button.urgent {
    color: @red;
    background-color: alpha(@base, 0.15);
}

/*----------Tray-------------------------*/
#tray {
    background-color: @base;
    padding: 0 6px;
    border-radius: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

/*----------Right Module Group-----------*/
#pulseaudio,
#bluetooth,
#network,
#backlight {
    background-color: @base;
    padding: 0 7px;
    margin: 2px 0;
}

/*----------Bluetooth--------------------*/
#bluetooth {
    color: @mauve;
}

/*----------Network----------------------*/
#network {
    color: @mauve;
}

#network.disconnected {
    color: @red;
}

/*----------Pulseaudio-------------------*/
#pulseaudio {
    color: @mauve;
    border-radius: 10px 0 0 10px;
}

#pulseaudio.muted {
    color: @red;
}

/*----------Backlight--------------------*/
#backlight {
    color: @mauve;
    padding: 0 14px;
    border-radius: 0 10px 10px 0;
}

#idle_inhibitor,
#custom-power-menu,
#custom-notification {
    background-color: @base;
    color: @mauve;
    padding: 0 7px;
    margin: 2px 0;
}

#idle_inhibitor {
    border-radius: 10px 0 0 10px;
}

#custom-power-menu {
    padding: 0 14px;
    border-radius: 0 10px 10px 0;
}

/*----------SwayNC-----------------------*/
#custom-swaync {
    border-radius: 10px;
    margin: 2px 3px;
}

/*----------Clock------------------------*/
#clock {
    font-weight: bold;
}

/*----------Tooltip----------------------*/
tooltip {
    border-radius: 10px;
    background-color: @base;
    color: @mauve;
    border: 1px solid alpha(@lavender, 0.4);
}

tooltip label {
    padding: 4px;
}

/*----------Focus------------------------*/
label:focus {
    background-color: @base;
}
