* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(30, 30, 46, 0.9);
}

button {
    border-radius: 0;
    border-color: #cba6f7;
    text-decoration-color: #cdd6f4;
    color: #cdd6f4;
    background-color: #181825;
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

/*button:focus,*/
button:active,
button:hover {
    /* 20% Overlay 2, 80% mantle */
    background-color: rgb(48, 50, 66);
    outline-style: none;
}

#lock {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/home/plyrex/.config/wlogout/icons/lock.svg");
}

#logout {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/home/plyrex/.config/wlogout/icons/logout.svg");
}

#suspend {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/home/plyrex/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/home/plyrex/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/home/plyrex/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/home/plyrex/.config/wlogout/icons/reboot.svg");
}
